<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phuit.zingonline"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_music"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
          <activity
            android:name="com.phuit.zingonline.Intro"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" > 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>                              
        </activity>
        <activity
            android:name="com.phuit.zingonline.ListMusic"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >  
            <intent-filter>
                <action android:name="com.phuit.zingonline.LISTMUSIC" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>          
        </activity>
        <activity
            android:name="com.phuit.zingonline.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >                    
        </activity>      
        <service android:name="com.phuit.zingonline.PlayerService"></service>
    </application>

</manifest>
